# Data
data/raw/
data/processed/

# Trained models
models/
*.pt
*.pth
*.joblib
*.pkl

# Python
.venv/
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/
notebooks/tempCodeRunnerFile.ipynb

# macOS
.DS_Store