# macOS
.DS_Store

# Python
.venv/
__pycache__/
*.pyc

# Raw datasets
data/raw/

# Jupyter checkpoints
.ipynb_checkpoints/
# Processed datasets
data/processed/

# VS Code temporary notebook
notebooks/tempCodeRunnerFile.ipynb